@import url("../framework/reset.css");

label {
	position: relative;
	color: FieldText;
	border-block-end: 1px solid currentcolor;
}


label > .text {
}

select {
	position: absolute;
	top: 0;
	bottom: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
	appearance: none;
	border: 0;
	cursor: pointer;
}
