@keyframes pulse {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.5;
	}
}

.loading-indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	animation-name: pulse;
	animation-duration: 1500ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
}
